body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  margin: 35px auto;
}

.navbar-right {
  margin: 12px 35px;
}

a {
  cursor: pointer;
}

.error {
  /*border-color: #f1f1f1;*/
  border-color: red;
}

th, tr {
  text-align: center;
}

span {
  margin: 5px 12px;
}

.container {
  transition: all 1s linear;
}

@media screen and (max-width: 844px) {
    ul.nav.navbar-nav li{
      display: none;
    }
    .container {
      margin-top: 80px;
    }
}